In [1]:
import os

import pandas as pd

In [2]:
from pathlib import Path

In [3]:
PATH_DATA = os.path.join(Path.cwd(), 'data')
PATH_SUBM = os.path.join(Path.cwd(), 'submissions')

In [4]:
#PATH_DATA, PATH_SUBM

date – Дата наблюдения, в формате ДД.ММ.ГГГГ
region – Код региона в кодировке ФНС России
okato  – ОКАТО региона РФ
oktmo – ОКТМО региона РФ
pasta  – макароны (средняя взвешенная цена), руб/кг
legumes – бобовые,          руб/кг
bread  – хлеб , руб/кг
flour   – мука, руб/кг
rice    – рис, руб/кг
groats – другие крупы, руб/кг
potatoes – картофель, руб/кг
сucumbers_tomatoes – огурцы и помидоры, руб/кг
vegetables – прочие овощи, руб/кг
roots  – столовые корнеплоды, руб/кг
сabbage – капуста, руб/кг
fruit – фрукты, руб/кг
sugar – сахар, руб/кг
candy – конфеты, руб/кг
biscuits – печенье, руб/кг
mutton – баранина, руб/кг
beef – говядина, руб/кг
chicken – мясо птицы, руб/кг
pork – свинина, руб/кг
fish – рыба свеж, руб/кг
herring – сельдь, руб/кг
curd – творог, руб/кг
sour_creame – сметана, руб/кг
butter – масло сливочное, руб/кг
milk_kefir – молоко кефир, руб/л
cheese – сыр, руб/кг
egg – яйца, руб/шт
margarine – маргарин и другие жиры, руб/кг
oil – масло раститительное, руб/л
salt – соль, руб/кг
spice –специи, руб/шт
tea – чай, руб/шт
CPI_1 – стоимость потребительской корзины для трудоспособных граждан, руб
CPI_2 – стоимость потребительской корзины для пенсионеров, руб
CPI_3 – стоимость потребительской корзины для детей до 18 лет, руб
Pasta_value – макароны (объем проданной продукции), кг
legumes_value – бобовые (объем проданной продукции), кг
bread_value – хлеб (объем проданной продукции), кг
flour_value – мука (объем проданной продукции), кг
rice_value – рис (объем проданной продукции), кг
groats_value – другие крупы (объем проданной продукции), кг
potatoes_value – картофель (объем проданной продукции), кг
сucumbers_tomatoes_value – огурцы и помидоры (объем проданной продукции), кг
vegetables_value – прочие овощи (объем проданной продукции), кг
roots_value – столовые корнеплоды (объем проданной продукции), кг
сabbage_value – капуста (объем проданной продукции), кг
fruit_value – фрукты (объем проданной продукции), кг
sugar_value – сахар (объем проданной продукции), кг
candy_value – конфеты (объем проданной продукции), кг
biscuits_value         – печенье (объем проданной продукции), кг
mutton_value – баранина (объем проданной продукции), кг
beef_value – говядина (объем проданной продукции), кг
chicken_value         – мясо птицы(объем проданной продукции), кг
pork_value – свинина (объем проданной продукции), кг
fish_value – рыба свеж (объем проданной продукции), кг
herring_value – сельдь (объем проданной продукции), кг
curd_value – творог (объем проданной продукции), кг
sour_creame_value – сметана (объем проданной продукции), кг
butter_value – масло сливочное (объем проданной продукции), кг
milk_kefir_value –молоко кефир (объем проданной продукции), л
cheese_value – сыр (объем проданной продукции), кг
egg_value – яйца (объем проданной продукции), шт
margarine_value – маргарин и другие жиры (объем проданной продукции), кг
oil_value – масло раститительное (объем проданной продукции), л
salt_value – соль (объем проданной продукции)        , кг
spice_value – специи (объем проданной продукции), шт
tea_value – чай (объем проданной продукции), шт
ai92 – бензин марки АИ-92, руб/литр
ai95 – бензин марки АИ-95, руб/литр
ai98 – бензин марки АИ-98, руб/литр
dt – дизельное топливо, руб/литр
ai92_value – бензин марки АИ-92 (объем проданной продукции), литр
ai95_value – бензин марки АИ-95 (объем проданной продукции), литр
ai98_value – бензин марки АИ-98 (объем проданной продукции), литр
dt_value – дизельное топливо (объем проданной продукции), литр

Уникальной комбинацией является комбинация полей: {date, region} или {date, oktmo}, или {date, akato}.

In [5]:
train = pd.read_csv(os.path.join(PATH_DATA, 'train_orig.csv'), sep = ';', encoding = 'utf-8', engine='python')
train.shape

(60193, 79)

In [6]:
train.head()

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,31.03.2021,"86,36","108,63","75,1","34,06","81,14","65,37",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,31.03.2021,"83,48","123,53","73,87","42,34","65,98","50,66",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,31.03.2021,"75,59","103,61","81,43","33,27","77,01","70,49",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,31.03.2021,"73,77","87,81","76,34","32,33","72,69","69,96",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,31.03.2021,"132,15","123,6","109,73","50,71","24,65","20,25",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"

неполная строка, пока никак не учитываем

In [7]:
train.drop(60192, axis = 0, inplace = True)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60192 entries, 0 to 60191
Data columns (total 79 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   region                    60192 non-null  int64
 1   oktmo                     60192 non-null  int64
 2   okato                     60192 non-null  int64
 3   date                      60192 non-null  object
 4   pasta                     60192 non-null  object
 5   legumes                   60192 non-null  object
 6   bread                     60192 non-null  object
 7   flour                     60192 non-null  object
 8   rice                      60192 non-null  object
 9   groats                    60192 non-null  object
 10  potatoes                  60192 non-null  object
 11  сucumbers_tomatoes        60192 non-null  object
 12  vegetables                60192 non-null  object
 13  roots                     60192 non-null  object
 14  сabbage                   60192 non-null  object
 15  fruit                     60192 non-null  object
 16  sugar                     60192 non-null  object
 17  candy                     60192 non-null  object
 18  biscuits                  60192 non-null  object
 19  mutton                    60192 non-null  object
 20  beef                      60192 non-null  object
 21  chicken                   60192 non-null  object
 22  pork                      60192 non-null  object
 23  fish                      60192 non-null  object
 24  herring                   60192 non-null  object
 25  curd                      60192 non-null  object
 26  sour_creame               60192 non-null  object
 27  butter                    60192 non-null  object
 28  milk_kefir                60192 non-null  object
 29  cheese                    60192 non-null  object
 30  egg                       60192 non-null  object
 31  margarine                 60192 non-null  object
 32  oil                       60192 non-null  object
 33  salt                      60192 non-null  object
 34  spice                     60192 non-null  object
 35  tea                       60192 non-null  object
 36  cpi_1                     60192 non-null  object
 37  cpi_2                     60192 non-null  object
 38  cpi_3                     60192 non-null  object
 39  pasta_value               60192 non-null  object
 40  legumes_value             60192 non-null  object
 41  bread_value               60192 non-null  object
 42  flour_value               60192 non-null  object
 43  rice_value                60192 non-null  object
 44  groats_value              60192 non-null  object
 45  potatoes_value            60192 non-null  object
 46  сucumbers_tomatoes_value  60192 non-null  object
 47  vegetables_value          60192 non-null  object
 48  roots_value               60192 non-null  object
 49  сabbage_value             60192 non-null  object
 50  fruit_value               60192 non-null  object
 51  sugar_value               60192 non-null  object
 52  candy_value               60192 non-null  object
 53  biscuits_value            60192 non-null  object
 54  mutton_value              60192 non-null  object
 55  beef_value                60192 non-null  object
 56  chicken_value             60192 non-null  object
 57  pork_value                60192 non-null  object
 58  fish_value                60192 non-null  object
 59  herring_value             60192 non-null  object
 60  curd_value                60192 non-null  object
 61  sour_creame_value         60192 non-null  object
 62  butter_value              60192 non-null  object
 63  milk_kefir_value          60192 non-null  object
 64  cheese_value              60192 non-null  object
 65  egg_value                 60192 non-null  object
 66  margarine_value           60192 non-null  object
 67  oil_value                 60192 non-null  object
 68  salt_value                60192 non-null  object
 69  spice_value               60192 non-null  object
 70  tea_value                 60192 non-null  object
 71  ai92                      60192 non-null  object
 72  ai95                      60192 non-null  object
 73  ai98                      60192 non-null  object
 74  dt                        60192 non-null  object
 75  ai92_value                60192 non-null  object
 76  ai95_value                60192 non-null  object
 77  ai98_value                60192 non-null  object
 78  dt_value                  60192 non-null  object
dtypes: int64(3), object(76)
memory usage: 36.7+ MB

In [9]:
items = train.columns.drop(['region', 'oktmo', 'okato', 'date'])
items

Index(['pasta', 'legumes', 'bread', 'flour', 'rice', 'groats', 'potatoes',
       'сucumbers_tomatoes', 'vegetables', 'roots', 'сabbage', 'fruit',
       'sugar', 'candy', 'biscuits', 'mutton', 'beef', 'chicken', 'pork',
       'fish', 'herring', 'curd', 'sour_creame', 'butter', 'milk_kefir',
       'cheese', 'egg', 'margarine', 'oil', 'salt', 'spice', 'tea', 'cpi_1',
       'cpi_2', 'cpi_3', 'pasta_value', 'legumes_value', 'bread_value',
       'flour_value', 'rice_value', 'groats_value', 'potatoes_value',
       'сucumbers_tomatoes_value', 'vegetables_value', 'roots_value',
       'сabbage_value', 'fruit_value', 'sugar_value', 'candy_value',
       'biscuits_value', 'mutton_value', 'beef_value', 'chicken_value',
       'pork_value', 'fish_value', 'herring_value', 'curd_value',
       'sour_creame_value', 'butter_value', 'milk_kefir_value', 'cheese_value',
       'egg_value', 'margarine_value', 'oil_value', 'salt_value',
       'spice_value', 'tea_value', 'ai92', 'ai95', 'ai98', 'dt', 'ai92_value',
       'ai95_value', 'ai98_value', 'dt_value'],
      dtype='object')

в исходных данных в числах с плавающей запятой запятая, вместо необходимой для python точки.    
преобразуем, приводим к float

In [10]:
lambda_dot = lambda x: x.replace(',', '.').replace(u'\xa0', u'')

In [11]:
for el in items:
    #print(el)
    train[el] = train[el].map(lambda_dot).astype(float)

In [12]:
test = pd.read_csv(os.path.join(PATH_DATA, 'test.csv'), parse_dates=['date'])
test.shape

(7735, 79)

In [13]:
test.head()

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

для каждого требуемого момента test ставим константу - среднее по train для данного продукта

In [14]:
for el in items:
    test[el].fillna(train[el].mean(), inplace = True)

In [15]:
test.sample(10)

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
1082,56,53000000000,53000000000,2021-06-18,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
4119,73,73000000000,73000000000,2021-05-13,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
2771,25,5000000000,5000000000,2021-05-29,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
1568,30,12000000000,12000000000,2021-12-06,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
1979,21,1000000000,1000000000,2021-07-06,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
4531,38,25000000000,25000000000,2021-08-05,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
2402,89,71900000000,71140000000,2021-02-06,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
3435,31,14000000000,14000000000,2021-05-21,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
6564,38,25000000000,25000000000,2021-04-14,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731
5306,30,12000000000,12000000000,2021-04-29,78.932921,93.633171,70.629777,33.452509,74.564811,57.043001,...,35402.833106,31717.142292,42.580647,46.066742,38.30128,47.333741,539017.976491,412995.261974,4260.89849,157402.282731

In [16]:
test.to_csv(os.path.join(PATH_SUBM, 'subm_base_mean.csv'))